html{
  font-family: Arial,Sans-Serif;
  background: gray;
}
p{
  color:yellow;
  text-align: center;
}
h1{
  color:light;
  font-size: 50px;
  text-align:left;
}
img {
    float: right;
  }
  .container {
    text-align: right;
  }
